<head>
<center><h1>The Kitchenette</h1></center>
</head>

<li><%= link_to('New Book', new_book_path) %></li>

<% @books.each do |book| %>

<div class='home_links'></div>
</ul>
  </li>
    <li><%= link_to(book.title, book) %></li>
    <li><%= book.cuisine %></li>
    <li><%= book.chef %></li>
    <li><%= image_tag(book.image) %></li>
</ul>

<% end %>
